/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 28 ene 2023, 21:54:54
    Author     : DELL
*/

h2{
    color: blue;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
textarea{
    width:400px;height:100px;border: 2px solid #990000;
}
textarea{
    
width:300px;height:80px;border: 1px dotted #000099;
}
textarea{
    background-color: transparent;border: 1px solid #000000;scrollbar-arrow-color: #000066;scrollbar-base-color: #000033;scrollbar-dark-shadow-color: #336699;scrollbar-track-color: #666633;scrollbar-face-color: #cc9933;scrollbar-shadow-color: #DDDDDD;scrollbar-highlight-color: #CCCCCC;
}
textarea{
      display:inline-block;
  vertical-align:middle;
}
body{
    background-color: #dee2eb;
}
form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
img{
    display: block;
    margin: auto;
}
textarea{
    display: block;
    margin: auto;
}
h3{
    text-align: center;
   
}
span{
    text-justify: #000000;
}
wpb_wrapper{
    display: block;
    margin: auto;
    color: #336699;
}
button{
background: #eb94d0;
background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
  background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
text-shadow: 3px 2px 1px #9daef5;
  -webkit-box-shadow: 6px 5px 24px #666666;
  -moz-box-shadow: 6px 5px 24px #666666;
  box-shadow: 6px 5px 24px #666666;
font-family: Arial;
  color: #fafafa;
  font-size: 16px;
  padding: 8px;
  text-decoration: none;
  .btn:hover {
  background: #2079b0;
  background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
  background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
  text-decoration: none;
}